* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #6c441b;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    background-color: #ebe3db;
}


.content {
    width: 85%;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

nav ul li {
    display: inline;
    margin: 10px 30px;
    font-weight: bold;
}

#div__bisontes-logo {
    display: flex;
    justify-content: center;
    background-color: #ebe3db;
}

#bisontes-logo {
    width: auto;
    margin: 0px auto 0px auto;
}

.information-container {
    margin-top: 20px;
    padding-bottom: 20px;
    border: solid;
    border-radius: 20px;
    box-shadow: 0 5px 20px #cb9c64, 0 -5px 20px #ebe3db;
}

.information-container-flip-cards {
    margin-top: 20px;
    padding-bottom: 20px;
    border: solid;
    border-radius: 20px;
    box-shadow: 0 5px 20px #cb9c64, 0 -5px 20px #ebe3db;
}

.information-container:hover {
    box-shadow: 0 5px 30px #cb9c64, 0 -5px 30px #ebe3db;
}

.information-container p {
    text-align: justify;
}

.rounded-image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 0 5px 10px #cb9c64, 0 -5px 10px #ebe3db;
}

.image-text-container {
    display: flex;
    justify-content: space-evenly;
}

.text-container {
    width: 520px;
    padding: 10px;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#texto-historia {
    width: 700px;
}

.container-cards {
    display: flex;
    justify-content: space-evenly;
}

/*Flipping card*/
.box {
    width: 400px;
    height: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.box .front,
.box .back {
    position: absolute;
    width: 400px; height: 400px;
    background: #ebe3db;
    backface-visibility: hidden; cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 5px 15px #cb9c64, 0 -5px 15px #ebe3db;
    transition: transform .4s;
}

.box .back {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    transform: perspective(800px) rotateX(-180deg);
}

.box .back .p {
    margin: 10px 20px;
    text-align: center;
}

.box .front img {
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

.box:hover .front {
    transform: perspective(800px) rotateX(180deg);
}

.box:hover .back {
    border-radius: 50%;
    transform: perspective(800px) rotateX(0);
}


/* Colores
CSS HEX 
--walnut: #6c441b;
--pearl-bush: #ebe3db;
--antique-brass: #cb9c64;
--indian-khaki: #bda58a;
--sandrift: #ac9476;
--sandrift: #a78c74;
--vanilla: #d2c2ac;
--bison-hide: #c5b4a4;
--bison-hide: #c4bca4;


SCSS HEX 
$walnut: #6c441b;
$pearl-bush: #ebe3db;
$antique-brass: #cb9c64;
$indian-khaki: #bda58a;
$sandrift: #ac9476;
$sandrift: #a78c74;
$vanilla: #d2c2ac;
$bison-hide: #c5b4a4;
$bison-hide: #c4bca4;


SCSS RGB 
--walnut: rgba(108,68,27,1);
--pearl-bush: rgba(235,227,219,1);
--antique-brass: rgba(203,156,100,1);
--indian-khaki: rgba(189,165,138,1);
--sandrift: rgba(172,148,118,1);
--sandrift: rgba(167,140,116,1);
--vanilla: rgba(210,194,172,1);
--bison-hide: rgba(197,180,164,1);
--bison-hide: rgba(196,188,164,1);
*/

